@import "tailwindcss";

::-webkit-scrollbar
{
    @apply hidden
}


@keyframes modalPop {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modalPop {
  animation: modalPop 0.25s ease-out;
}
